body {
    font-family: sans-serif;
}


header {
    height: 550px;
    width: 100%;
    align-items: center;
    background-image: url(https://learn.logikaschool.com/uploads/student/1256685/65bf69ef18012.png);
    text-align: center; /* вирівнювання тексту по центру */
}


main {
    max-width: 1200px; /* максимальна ширина контенту */
    margin: 0 auto; /* центрування контенту по центру сторінки */
    padding: 20px;
}


h2, h3, p {
    text-align: center; /* вирівнювання тексту по центру */
}


.catalog {
    text-align: center;
}


.items {
    width: 25%;
    height: 300px;
    display: inline-block;
    margin-left: 3%;
}


.it_image {
    width: 80%;
    height: 50%;
    text-align: center;
}


img {
    max-width: 100%; /* Забезпечення адаптивності зображень */
    height: auto;
}


.logo {
    font-size: 30px;
    background-color: white;
    opacity: 0.6;
    text-align: center;
}


.about_img {
    padding: 10px;
    display: inline-block;
    width: 40%;
}


.about {
    padding: 30px;
    display: inline-block;
    width: 45%;
}


.about_us {
    display: inline-block;
}


.coment_img {
    display: inline-block;
    width: 20%;
}


.coment_text {
    display: inline-block;
    width: 60%;
}


.coments {
    height: 150px;
}


.coment {
    text-align: center;
}


.coment_img {
    display: inline-block;
    height: 100px;
    width: 100px;
}


.coment_text {
    display: inline-block;
    width: 50%;
    height: 100px;
    align-items: flex-start;
}


.coments {
    text-align: center;
    height: 150px;
}


.coment {
    text-align: center;
}


.about {
    text-align: center;
}
.map {
    display: block;
    margin: 0 auto; /* Центрування зображення по горизонталі */
}
